.badge {
  @apply inline-flex items-center px-1.5 py-0.5 gap-1 rounded-md text-xs font-medium;
  @apply bg-gray-100 text-gray-800;

  .badge-icon {
    @apply w-3 h-3 rounded-sm;
  }

  &.badge-bordered {
    @apply border border-solid border-gray-200 bg-transparent;
  }

  .badge-close-btn {
    @apply size-4 inline-flex shrink-0 items-center justify-center rounded-sm hover:bg-[#0000000d] focus:bg-[#0000000d] focus:outline-none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6z"/></svg>');
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto 16px;
  }

  &.badge-status {
    @apply pl-[1.2rem] relative bg-transparent;

    &::before {
      @apply absolute left-1.5 top-1/2 -translate-y-1/2 size-2 rounded-full bg-gray-400;
      content: '';
    }

    .badge-icon {
      @apply w-2 h-2 rounded-full;
    }

    &.badge-status-processing {
      &::before {
        @apply bg-blue-500;
      }
    }

    &.badge-status-success {
      &::before {
        @apply bg-green-500;
      }
    }

    &.badge-status-warning {
      &::before {
        @apply bg-orange-500;
      }
    }

    &.badge-status-error {
      &::before {
        @apply bg-red-500;
      }
    }
  }
}

.badge-wrapper {
  @apply relative;

  .badge {
    @apply absolute top-0 right-0 translate-x-1/2 -translate-y-1/2 z-[2] h-6 min-w-6 py-0 px-1.5 rounded-full border-2 border-solid border-white bg-red-400 text-white;
  }

  .badge-dot {
    @apply min-w-4 size-4 rounded-full border-2 border-solid border-white bg-red-400;
  }
}
