@keyframes progress {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

.steps {
  @apply flex items-center w-full;

  .step {
    @apply flex items-center flex-1;

    .step-number {
      @apply flex items-center justify-center w-8 h-8 rounded-full bg-gray-200 text-gray-600 mx-2;
    }

    .step-line {
      @apply flex-1 h-[2px] bg-gray-200 relative;

      .step-line-progress {
        @apply absolute inset-0 bg-primary origin-left;
        transform: scaleX(0);
      }
    }

    &.step-active {
      .step-number {
        @apply bg-primary text-white;
      }

      .step-line {
        @apply bg-primary;
      }

      .step-title {
        @apply text-primary;
      }

      .step-line-progress {
        animation: progress 0.5s ease-in-out forwards;
      }
    }
  }
}

.steps-label {
  .step {
    @apply flex-col items-start;

    .step-line-wrapper {
      @apply flex items-center w-full mb-2;
    }

    .step-content {
      @apply flex flex-col items-center;
    }

    .step-title {
      @apply font-medium text-gray-600;
    }

    .step-description {
      @apply text-sm text-gray-400;
    }

    .step-number {
      @apply flex items-center justify-center w-8 h-8 rounded-full bg-gray-200 text-gray-600;
    }

    .step-line {
      @apply flex-1 h-[2px] bg-gray-200;
    }

    &.step-active {
      .step-number {
        @apply bg-primary text-white;
      }

      .step-line {
        @apply bg-primary;
      }

      .step-title {
        @apply text-primary;
      }
    }
  }
}

.steps-vertical {
  @apply flex flex-col gap-4;

  .step {
    @apply flex items-start gap-4;

    .step-content {
      @apply flex flex-col;
    }

    .step-title {
      @apply font-medium text-gray-600;
    }

    .step-description {
      @apply text-sm text-gray-400;
    }

    .step.step-active {
      .step-title {
        @apply text-primary;
      }
    }
  }
}

.steps-title-top {
  .step {
    @apply flex flex-col items-center flex-1;

    .step-title {
      @apply font-medium text-gray-600 mb-2;
    }

    .step-wrapper {
      @apply flex items-center w-full;
    }

    .step-number {
      @apply flex items-center justify-center w-8 h-8 rounded-full bg-gray-200 text-gray-600;
    }

    .step-line {
      @apply flex-1 h-[2px] bg-gray-200 mx-2;
    }

    .step-description {
      @apply text-sm text-gray-400 mt-2;
    }

    .step.step-active {
      .step-title {
        @apply text-primary;
      }

      .step-number {
        @apply bg-primary text-white;
      }

      .step-line {
        @apply bg-primary;
      }
    }
  }
}

.steps-icon-top {
  .step {
    @apply flex flex-col gap-2 flex-1;

    .step-wrapper {
      @apply flex items-center w-full;
    }

    .step-number {
      @apply flex items-center justify-center w-8 h-8 rounded-full bg-gray-200 text-gray-600;
    }

    .step-line {
      @apply flex-1 h-[2px] bg-gray-200 mx-2 relative overflow-hidden;
    }

    .step-content {
      @apply flex flex-col;
    }

    .step-title {
      @apply font-medium text-gray-600;
    }

    .step-description {
      @apply text-gray-400 text-sm mt-2;
    }

    .step.step-active {
      .step-number {
        @apply bg-primary text-white;
      }

      .step-title {
        @apply text-primary;
      }

      .step-line-progress {
        animation: progress 0.5s ease-in-out forwards;
      }
    }

    &:first-child {
      .step-line:first-child {
        @apply bg-transparent;

        .step-line-progress {
          @apply bg-transparent;
        }
      }
    }

    &:last-child {
      .step-line:last-child {
        @apply bg-transparent;

        .step-line-progress {
          @apply bg-transparent;
        }
      }
    }
  }
}
