.input {
  --input-border-color: #d1d5db;
  --input-ring-color: var(--input-border-color);

  border-color: var(--input-border-color);

  @apply w-[200px] px-3 py-2 border border-solid rounded-md outline-none transition-colors bg-white;
  @apply focus:ring-1 focus:ring-[--input-ring-color] focus-within:ring-1 focus-within:ring-[--input-ring-color];

  input {
    min-width: 0;
  }

  &.input-disabled,
  &:disabled {
    @apply bg-gray-100 cursor-not-allowed;
  }

  &.input-error {
    @apply border-red-500 focus:ring-red-500;
  }

  &.input-sm {
    @apply px-2 py-1 text-sm;
  }

  &.input-lg {
    @apply px-4 py-3 text-lg;
  }

  &.input-wrapper {
    @apply flex items-center;
  }
}

.input-icon-left {
  @apply flex items-center h-5 min-w-5 mr-2 text-gray-400;
}

.input-icon-right {
  @apply flex items-center h-5 w-5 ml-2 text-gray-400;
}

.input-with-icon-left {
  @apply flex-1 outline-none rounded-r-md;
}

.input-with-icon-right {
  @apply flex-1 outline-none rounded-l-md;
}

.input-icon-btn {
  @apply text-gray-400;
}

.input:not(:disabled) .input-icon-btn {
  @apply hover:text-gray-600;
}